.result{
    text-align: center;
    h1{
        font-size: 3.5rem;
        font-weight: 700;
        color: #fff;
        margin-bottom: 1.3rem;
    }
    button{
        background: #fff;
        border-radius: 10px;
        padding: 1rem 4rem;
    }
}